name: Run MLflow Model

on: [push]

jobs:
  run-model:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install Dependencies
      run: pip install pandas scikit-learn mlflow
    - name: Run Training
      run: python modelling.py
      working-directory: ./
