name: ML Training Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil kode dari repository
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Siapkan Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas mlflow scikit-learn pyngrok requests

    # 4. Jalankan script training
    # Pastikan file CSV ada di repository kamu!
    - name: Run Model Training
      run: python modelling_ci.py
